<launch>
    <arg name="robot_name"/>
    <node pkg="chatterbox_simple" name="$(arg robot_name)" type="wanderCtrl" output="screen">
        <remap from="scan" to="$(arg robot_name)/scan"/>
        <remap from="odom" to="$(arg robot_name)/odom"/>
        <remap from="cmd_vel" to="$(arg robot_name)/cmd_vel"/> 
    </node>
</launch>
